{% extends "base.html" %}
{% block content %}

<ul class="nav justify-content-center nav-tabs mb-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Current List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Previous Lists</a>
    </li>
</ul>

<div class="container-fluid">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="card-title">{{ current_list['name'] }}</h5>
            <i class="fw-light text-muted">{{ current_list['created'] }}</i>
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="hidden" id="list-id" value="{{ current_list['id'] }}">
                    <div class="row">
                        <div class="col-8 pe-0 ps-1">
                            <input class="form-control" style="height: 100%; width: 100%" type="text" id="add-item-name" onkeyup=req_get_matching_items()>
                        </div>
                        <div class="col-4 pe-1 ps-1">
                            <button style="width: 100%" onclick=req_add_item() class="btn btn-success">
                                <i class="bi bi-plus-circle"></i>
                                Add
                            </button>
                        </div>
                    </div>
                    
                    <div id="myDropdown" class="dropdown-content">
                        
                    </div>
                </li>
                {% if current_list %}
                    {% for item in current_list['items'] %}
                        <li class="list-group-item">
                            <input type="hidden" id="item-id" value="{{ item['item_id'] }}">
                            <a style="color: black; text-decoration: none;" data-bs-toggle="collapse" href="#collapse-{{ item['item_id'] }}" role="button" aria-expanded="false" aria-controls="collapse-{{ item['item_id'] }}">
                                <div class="row">
                                    <div class="col-10">
                                        {{ item['name'] }}
                                        {% if item['recurring'] %}
                                            <i class="bi bi-arrow-repeat text-info" title="recurring item"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-2"><i class="bi bi-chevron-compact-down text-muted" title="expand"></i></div>
                                </div>
                            </a>
                            
                            <div class="row">
                                <div class="col collapse mt-2" id="collapse-{{ item['item_id'] }}">
                                    <div class="row">
                                        <div class="col-6 pe-1">
                                            <button  style="width: 100%" onclick=req_make_item_recurring(this) class="btn btn-info" data-id="{{ item['item_id'] }}">
                                                <i class="bi bi-arrow-repeat"></i>
                                                Recurring
                                            </button>
                                        </div>
                                        <div class="col-6 ps-1">
                                            <button  style="width: 100%" onclick=req_remove_item(this) data-id="{{ item['item_id'] }}" class="btn btn-warning">
                                                <i class="bi bi-file-minus"></i>
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    {% endfor %}
                {% endif %}
            </ul>
        <div class="card-body">
            <button style="width: 100%" class="btn btn-primary" onclick=req_retire_list() alt="move to previous lists">
                <i class="bi bi-cart-check"></i>
                Shopping ordered
            </button>
        </div>
    </div>
</div>

{% endblock %}